$main-background: #1a1a1a;
$barely-white-color: rgba(255, 255, 255, 0.05);
$half-white-color: rgba(255, 255, 255, 0.5);
$transparent-white-color: rgba(255, 255, 255, 0.1);
$panel-background-color: #212121;
$toolbar-background-color: #424242;
$toolbar-background-color-hover: #565656;


